.h1-serif{
    font-family: 'Old Standard TT', serif;
    font-size: 35px;
    font-weight: 700;
}

.h2-serif{
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
}

.p-serif{
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
 }
 .a-serif

 .img-text-serif{
    font-family: 'Old Standard TT', serif;
    font-size: 20px;    
 }
